@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background: linear-gradient(to bottom, rgba(239,194,47,1) 0%,rgba(232,134,44,1) 30%,rgba(232,134,44,1) 70%,rgba(239,194,47,1) 100%);
}
.site-link{
  @apply no-underline inline-block text-[14px]
}
.deco-link::before{
  content: ':';
  @apply pl-3 pr-3
}
.menu-text{
  @apply text-white pl-3
}

.menu-shadow {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}